<div class="contact1">
    <div class="section-discover">
        <p style="color: red;">{{errors}}</p>
        <div id="grid" >
        <!-- for each playlist in db -->
            {{#each publicPlaylists}}
                <a href="/users/detailviewSongs/{{id}}">
                    <div class="box-section-library">
                        <img src="/uploads/{{image}}"  alt="No image" class="img-responsive-library">
                        <div class="bottom-left-library">
                            <h2>{{title}}</h2>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>

        <div style="display: flex; justify-content: center;">
            <ul class="pagination">
                <li class="page-item">
                    <a href="/discover/{{previousPage}}" style="color: white; font-size: 18px"><<</a>
                </li>
                <li class="page-item">
                    <a href="/discover/{{nextPage}}" style="color: white; font-size: 18px">>></a>
                </li>
            </ul> 
        </div>
    </div>
</div>