<div class="contact1">
    <div class="wrapper">
        {{#if isLoggedIn}}
            <div class="create-playlist-btn">
                <a href="/library/createPlaylist" class="btn" style="border-radius: 3vh; margin-left: 6rem">Create Playlist</a>
            </div>

            <div class="playlist-title-library">
                <h2>Your public playlists</h2>
            </div>
            <div class="section-library">
                {{#each publicPlaylists}}
                    <a href="#modal1" style="border-radius: 3vh;">
                        <div class="box-section-library">
                            <img src="/uploads/{{image}}"  alt="No image" class="img-responsive-library">
                            <div class="bottom-left-library">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                    </a>
                {{/each}}
            </div>

            <div class="playlist-title-library">
                <h2>Your private playlists</h2>
            </div>
            <div class="section-library">
                {{#each privatePlaylists}}
                    <a href="#modal1" style="border-radius: 3vh;">
                        <div class="box-section-library">
                            <img src="/uploads/{{image}}" alt="No image" class="img-responsive-library">
                            <div class="bottom-left-library">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                    </a>
                {{/each}}
            </div>
            
            <div id="modal1" class="overlay">
                <a class="cancel" href="#"></a>
                <div class="customModal">
                    <h2>This is Modal Overlay 1</h2>
                    <div class="content">
                        <p>Click outside the modal to close.</p>
                    </div>
                </div>
            </div>
            <br>
            <p style="color: red;">{{errors}}</p>
        {{/if}}
        
    </div>
</div>