<div class="contact1">
    <div class="wrapper">
        {{#if isLoggedIn}}
            <div class="create-playlist-btn">
                <a href="/library/createPlaylist" 
                    class="btn" 
                    style="border-radius: 3vh; margin-left: 6rem"
                >
                    Create Playlist
                </a>
            </div>

            <div class="playlist-title-library">
                <h2 style="font-family: Montserrat-Regular;">Your public playlists</h2>
            </div>
            <div class="section-library">
                {{#each publicPlaylists}}
                    <a href="#public-{{id}}" style="border-radius: 3vh;">
                        <div class="box-section-library">
                            <img src="/uploads/{{image}}"  alt="No image" class="img-responsive-library">
                            <div class="bottom-left-library">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                    </a>
                {{/each}}
            </div>

            <div class="playlist-title-library">
                <h2 style="font-family: Montserrat-Regular;">Your private playlists</h2>
            </div>
            <div class="section-library">
                {{#each privatePlaylists}}
                    <a href="#private-{{id}}">
                        <div class="box-section-library">
                            <img src="/uploads/{{image}}" alt="No image" class="img-responsive-library">
                            <div class="bottom-left-library">
                                <h2>{{title}}</h2>
                            </div>
                        </div>
                    </a>
                {{/each}}
            </div>
            <div>
                {{#each publicPlaylists}}
                    <div id="public-{{id}}" class="overlay">
                        <a class="cancel" href="#"></a>
                        <div class="customModal">
                            <h2>{{title}}</h2>
                            <a class="close" href="#">×</a>
                            <a href="/library/addSong?id={{id}}"
                                style="border-radius: 3vh; " 
                                class="btn">Add song</a>
                            <div class="songs-in-playlists">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Artist</th>
                                            <th class="align-center">Genre</th>
                                            <th class="align-right">Release Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each songs}}
                                            <tr class="active">
                                                <td>{{songTitle}}</td>
                                                <td>{{artistName}}</td>
                                                <td>{{genre}}</td>
                                                <td class="align-right">{{releaseDate}}</td>
                                                <form action="/library/deleteSongInPlaylist" method="POST">
                                                    <input type="hidden" name="songId" value="{{songId}}">
                                                    <td>
                                                        {{#if songId}}
                                                            <button type="submit" class="fas fa-trash"></button>
                                                        {{/if}}
                                                    </td>
                                                </form>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {{/each}}
                {{#each privatePlaylists}}
                    <div id="private-{{id}}" class="overlay">
                        <a class="cancel" href="#"></a>
                        <div class="customModal">
                            <h2>This is Modal Overlay {{id}} </h2>
                            <a class="close" href="#">×</a>
                            <div class="content">
                                <p>Click outside the modal to close.</p>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
            <br>
            <p style="color: red;">{{errors}}</p>
        {{/if}}
        
    </div>
</div>